@import "@angular/material/prebuilt-themes/azure-blue.css";

/* Global base styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f8fc;
}
